<% content_for :head do %>
  <%= javascript_include_tag 'circuits' %>
<% end %>
<div id="sidebar">
  <select id="operatorType" class="selectpicker">
    <option value="gate">Gate</option>
    <option value="measurement">Measurement</option>
    <option value="controlled">Controlled Gate</option>
  </select>

  <select id="operatorId" class="selectpicker" data-live-search="true">
  </select>

  <ul id="controlLinks">
    <div class="btn-toolbar">
      <button id="add" href="#" title="Add" class="btn btn-default"><i class="icon-plus"></i></button>
      <button id="move" href="#" title="Move" class="btn btn-default"><i class="icon-move"></i></button>
      <button id="delete" href="#" title="Delete" class="btn btn-default"><i class="icon-remove"></i></button>
    </div>
    <div class="btn-toolbar">
      <button id="addLine" href="#" title="Add Line" class="btn btn-default"><i class="icon-long-arrow-right"></i></button>
      <button id="deleteLine" href="#" title="Delete Line" class="btn btn-default"><i class="icon-long-arrow-left"></i></button>
      <button id="newOperator" href="#" title="New Operator" class="btn btn-default"><i class="icon-list-alt"></i></button>
    </div>
    <div class="btn-toolbar">
      <button id="run" href="#" title="Run" class="btn btn-default"><i class="icon-play"></i></button>
      <button id="<%= signed_in? ? "save" : "usave" %>" href="#" title="Save" class="btn btn-default"><i class="icon-save"></i></button>
    </div>
    <div class="btn-toolbar">
      <button id="pan" href="#" title="Pan Canvas" class="btn btn-default"><i class="icon-hand-up"></i></button>
      <button id="center" href="#" title="Center Canvas" class="btn btn-default"><i class="icon-bullseye"></i></button>
    </div>
  </ul>

  <div id="iterationsContainer">
    <div id="iterations">
      <h3>Iterations:</h3>
      <ul class="nav nav-pills nav-stacked" id="navIterations">
      </ul>
    </div>
  </div>
</div>
<div id="newOperatorModal">
  <div id="newOperatorForm" class="panel panel-default">
    <div class="panel-heading">
      <div class="closeButton">
        <button type="button" class="close closeOperator"><i class="icon-remove-circle icon-large"></i></button>
      </div>
      <h3 class="panel-title closeTitle">New Operator</h3>
    </div>
    <div class="panel-body">
      <form class="form-horizontal">
        <div class="form-group">
          <div class="col-lg-6">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" class="form-control" />
          </div>
          <div class="col-lg-6">
            <label for="symbol">Symbol</label>
            <input type="text" name="symbol" id="symbol" class="form-control" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-6">
            <label for="type">Type</label>
            <select name="type" id="type" class="form-control">
              <option value="gate">Gate</option>
              <option value="measurement">Measurement</option>
              <option value="controlled">Controlled</option>
            </select>
          </div>
          <div class="col-lg-6">
            <label for="size">Size</label>
            <input type="number" name="size" id="size" class="form-control" />
          </div>
        </div>
        <div class="col-sm-12" id="normalForm">
          <div class="form-group">
            <label for="matrix">Matrix</label>
            <div class="matrixContainer">
              <table id="matrix">
              </table>
            </div>
          </div>
        </div>
        <div id="controlledForm">
          <button type="button" class="btn btn-primary" id="newControlledMatrix">New Pair</button>
          <button type="button" class="btn btn-primary" id="deleteControlledMatrix">Delete Pair</button>
          <div id="controlledFormContent" class="matrixContainer">
          </div>
        </div>
        <button type="button" class="btn btn-success" id="newOperatorSubmit">Submit</button>
        <button type="button" class="btn btn-warning closeOperator">Cancel</button>
      </form>
    </div>
  </div>
</div>
<div id="resultsContainer" class="panel panel-default">
  <div class="panel-heading">
    <div class="closeButton">
      <button type="button" class="close closeResults"><i class="icon-remove-circle icon-large"></i></button>
    </div>
    <h3 class="panel-title closeTitle">Simulation Results</h3>
  </div>
  <div class="panel-body">
    <div id="inspectMessage" class="alert alert-info">
      Click somewhere to inspect the circuit
    </div>
    <div id="results">
    </div>
    <div id="measurementsContainer">
      <div id="measurementsChartContainer">
      </div>
      <div id="measurementsDataContainer">
      </div>
    </div>
  </div>
</div>
<div id="content">
  <div class="row">
    <div class="col-md-8 col-sm-7">
      <h2 id="circuitName"></h2>
      <div class="form-group">
        <input id="initialState" placeholder="Initial state" class="form-control">
      </div>
    </div>
    <div id="switches" class="col-md-4 col-sm-5">
    </div>
  </div>
  <div id="canvasContainer">
  </div>
</div>
