<% content_for :head do %>
  <%= javascript_include_tag 'circuits' %>
<% end %>
<div id="sidebar">
  <select id="operatorType">
    <option value="gate">Gate</option>
    <option value="measurement">Measurement</option>
    <option value="controlled">Controlled Gate</option>
  </select>

  <select id="operatorId">
  </select>

  <ul id="controlLinks">
    <li><a id="add" href="#">Add</a></li>
    <li><a id="move" href="#">Move</a></li>
    <li><a id="delete" href="#">Delete</a></li>
    <li><a id="run" href="#">Run</a></li>
    <li><a id="save" href="#">Save</a></li>
    <li><a id="addLine" href="#">Add Line</a></li>
    <li><a id="deleteLine" href="#">Delete Line</a></li>
  </ul>

  <div id="results">
  </div>
</div>
<div id="content">
  <div id="canvasContainer">
  </div>
</div>
