---
title: HTML5 Boilerplate Middleman
---

<select id="operatorType">
  <option value="gate">Gate</option>
  <option value="measurement">Measurement</option>
  <option value="controlled">Controlled Gate</option>
</select>

<select id="operatorId">
</select>

<div id="canvasContainer">
</div>
