<div class="row">
  <div class="col-sm-6 col-md-3">
    <a href="<%= demonstration_url("Quantum Teleportation") %>" class="thumbnail thumbnail-center">
      <img src="/images/circuits/qt.png" alt="Quantum Teleportation Circuit">
      <b>Quantum Teleportation</b>
    </a>
  </div>
  <div class="col-sm-6 col-md-3">
    <a href="<%= demonstration_url("Bell States") %>" class="thumbnail thumbnail-center">
      <img src="/images/circuits/bell.png" alt="Bell States">
      <b>Bell States</b>
    </a>
  </div>
  <div class="col-sm-6 col-md-3">
    <a href="<%= demonstration_url("Pauli Gates") %>" class="thumbnail thumbnail-center">
      <img src="/images/circuits/pauli.png" alt="Pauli Gates">
      <b>Pauli Gates</b>
    </a>
  </div>
  <div class="col-sm-6 col-md-3">
    <a href="<%= demonstration_url("Measurement") %>" class="thumbnail thumbnail-center">
      <img src="/images/circuits/measurement.png" alt="Measurement">
      <b>Measurement</b>
    </a>
  </div>
</div>
