<div class="container" id="pageContainer">
  <p>
    Shor's Circuits is an online app for symbolically (so you'd get something like <img src="/latex/math/%5Cfrac%7B1%7D%7B%5Csqrt%7B2%7D%7D.png?height=30" alt="1/sqrt(2)"/> instead of 0.70711) simulating quantum circuits. The code is available on <a href="https://github.com/hrickards/shors_circuits">Github</a> under the MIT License. Send any feedback to <a href="mailto:harry@shorscircuits.com">harry@shorscircuits.com</a>.
  </p>
 
  <p>
    Running a processor-hungry sevice like this isn't free, and I'd greatly appreciate any donations. <%= partial 'donate' %>
  </p>
</div>
