development:
  GOOGLE_ID: 
  GOOGLE_SECRET:
  GITHUB_ID:
  GITHUB_SECRET:
  TWITTER_ID:
  TWITTER_SECRET:

production:
  GOOGLE_ID:
  GOOGLE_SECRET: 
  GITHUB_ID: 
  GITHUB_SECRET: 
  TWITTER_ID:
  TWITTER_SECRET:
