upstream shorscircuits.com {
	server unix:///home/harry/shors_circuits/current/tmp/puma/sock fail_timeout=0;
}

server {

	listen   80; ## listen for ipv4

	server_name  shorscircuits.com;

	access_log  /var/log/nginx/shor.access.log;
	root /home/harry/shors_circuits;

	location / {
		proxy_pass http://shorscircuits.com;
		proxy_redirect	off;
	}
}

server {
	listen 80;
	server_name www.shorscircuits.com;
	return	301 http://shorscircuits.com$request_uri;
}
