@import "compass/reset";

@import "bootstrap";
@import "font-awesome";
@import "zocial";

@import "susy";
// Susy config
@import "partials/susy";
@import "bootstrap-select";

$content-font: "proxima-nova", sans-serif;

body, html {
  height: 100%;
  overflow: hidden;
}
b { font-weight: bold; }
div, nav { @include box-sizing(border-box); }

#page {
  @include container;
  height: 100%;
  padding: 0;

  font-family: $content-font;

  #header {
    //@include span-columns(12, 12);
    height: 1.6em;
    padding: 0.3em;

    background: #4d5e08;
    color: #999;
  }

  #sidebar {
    //@include span-columns(3, 12);
    height: 97%;
    width: 15em;
    padding: 0.3em;
    position: absolute;

    background: #191818;
    color: #999;

    select { width: 100%; }
    padding-left: 5px;

    #iterations {
      width: 10em;
      .current { font-weight: bold; }
    }

    //#iterationsContainer { margin-left: 5px; }

    #navIterations { margin-left: 10px; }
  }

  #content {
    //@include span-columns(9 omega, 12);
    margin-left: 15em;
    padding: 0.3em;
  }

  #canvasContainer { margin-right: 1em; }

  #controlLinks {
    a { color: #999; } 
    a.active { font-weight: bold; }

    button {
      width: 3em;
    }
  }
}

#navbar { margin-bottom: 0 }
 
#controlLinks .btn-toolbar {
  margin: 5px 0;
}

.matrixInputBox { width: 2.5em }

#initialState { width: 20em; }

// http://www.webdesignerdepot.com/2012/10/creating-a-modal-window-with-html5-and-css3/
#newOperatorModal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  display: none;
}

#newOperatorForm {
  width: 600px;
  position: relative;
  margin: 10% auto;
}

#resultsContainer {
  width: 500px;
  height: 400px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99998;
  margin-left: 20px;
  margin-right: 20px;
  display: none;
}

$buttonSpacing: 0.3em;
.closeButton { margin-top: -$buttonSpacing; }
.closeTitle { margin-top: $buttonSpacing; }

.dropdown-toggle {
  min-width: 160px;
}

#pageContainer {
  margin-top: 19px;
}

#userCircuits {
  width: 300px;
  float: right;
}

#newCircuitButton { float: right; }

a.zocial {
  font-weight: bold !important;
  line-height: 1.8em !important;
  margin: 1px 5px;
  padding: 0 10px 0 0 !important;
}

a.google, a.primary {
  color: #fff !important;
}

li.nohover :hover {
  background-color: transparent !important;
  color: black !important;
}

.alert-top { margin-bottom: 0 !important; }
